bin/
gen/
out/
/*/out
build/
/*/build/
/*/*/build
/*/.gitignore
proguard/
captures/
/*/*/production
._*
.gradle
.navigation/
.idea/
.signing/
.externalNativeBuild
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.classpath
.project
ehthumbs.db
Thumbs.db
local.properties
/*/local.properties
com_crashlytics_export_strings.xml
*.apk
*.ap_
*.dex
*.class
*.log
*.iml
*.jks
*.iws
*.ipr
*~
*.swp
*.gradle
*.pro