_windows/
inspection/
bin/
gen/
out/
/*/out
build/
/*/build/
/*/*/build
/*/.gitignore
proguard/
captures/
/*/*/production
._*
.gradle
.navigation/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.signing/
.externalNativeBuild
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.classpath
.project
debugger.renderers.xml
debugger.xml
diff.xml
gradle.run.settings.xml
IntelliLang.xml
toStringTemplates.xml
ui.lnf.xml
web-browsers.xml
ehthumbs.db
Thumbs.db
local.properties
/*/local.properties
com_crashlytics_export_strings.xml
*.apk
*.ap_
*.dex
*.class
*.log
*.iml
*.jks
*.iws
*.ipr
*~
*.swp
*.gradle
*.pro